#checkoutBox{
    margin-top: 150px;
    min-height: 100vh;
}
/* 區塊標籤 */
.checkoutLabel{
	position: relative;
	border-radius: 50%;
	height: 3px;
	margin-top: 100px;
	margin-bottom: 10px;
	background-image: rgb(249,52,52); /* Old browsers */
 background-image: -moz-linear-gradient(45deg, rgba(249,52,52,1) 0%, rgba(226,111,167,1) 100%); /* FF3.6-15 */
background-image: -webkit-linear-gradient(45deg, rgba(249,52,52,1) 0%,rgba(226,111,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
background-image: linear-gradient(45deg, rgba(249,52,52,1) 0%,rgba(226,111,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93434', endColorstr='#e26fa7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.checkoutLabel::after{
	position: absolute;
	content: attr(label);
	/*background-color: #1e1f26;*/
	text-align: center;
	width: 160px;
	height: 40px;
	line-height: 36px;
	left:calc(50% - 80px);
	top:-40px;
	font-weight: 900;
	font-size: 24px;
	color: #ee526d;
	/*border:2px solid #e8308c;*/

}
#checkoutList{
	background-color: #ececec;
	padding-top: 15px;
	padding-bottom: 15px;
}
.checkoutImgBox{
	height: 60px;
	width: 60px;
}
.checkoutImgBox > img{
	object-fit:contain;
	width:60px;
	max-height:100%;
}
@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) {

}
